.butt{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36vh;
}
  .image{

    height: 141px;
    width: 23vw;
    /* margin: 3px; */
    background-color: greenyellow;
  border:1px solid;
  border-radius: 60px;
  }
  #b1, #b2, #b3, #b4{
    border-radius: 60px;
    background-color: lawngreen;
    margin: 3px;
  }