.calculator{
  border: 5px black solid;
  width:  203px;
  height: 356px;
      margin: 10px;
      box-sizing: border-box;
}
.button{
  display: flex;
  justify-content: center;
  margin: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  
}
.but , #display{
 margin: 12px;
 box-sizing: border-box;
}
#display{
  margin-bottom: 0px;
margin-top: 28px;
margin-right: 6px;
}