#calculator {
  border: 5px solid black;
  border-radius: 3px;
  width: 200px;
  /* height: 50%; */
}
#display {
  margin: 10px;
  width: 85%;
}
.button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.b {
  height: 55px;
  width: 55px;
  margin: 3px;
}
main{
  display: flex;
  justify-content: center;
}